apiVersion: v1
kind: Service
metadata:
  name: {{ include "kratos-admin-ui.fullname" . }}-backend
  labels:
    {{- include "kratos-admin-ui.backend.labels" . | nindent 4 }}
spec:
  type: {{ .Values.backend.service.type }}
  ports:
    - port: {{ .Values.backend.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "kratos-admin-ui.backend.selectorLabels" . | nindent 4 }}

