apiVersion: v1
kind: Service
metadata:
  name: {{ include "kratos-admin-ui.fullname" . }}-frontend
  labels:
    {{- include "kratos-admin-ui.frontend.labels" . | nindent 4 }}
spec:
  type: {{ .Values.frontend.service.type }}
  ports:
    - port: {{ .Values.frontend.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "kratos-admin-ui.frontend.selectorLabels" . | nindent 4 }}

