name: Release Please

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      app-release-created: ${{ steps.release.outputs['.--release_created'] }}
      app-tag-name: ${{ steps.release.outputs['.--tag_name'] }}
      app-version: ${{ steps.release.outputs['.--version'] }}
      chart-release-created: ${{ steps.release.outputs['charts/kratos-admin-ui--release_created'] }}
      chart-tag-name: ${{ steps.release.outputs['charts/kratos-admin-ui--tag_name'] }}
      chart-version: ${{ steps.release.outputs['charts/kratos-admin-ui--version'] }}
    steps:
      - name: Run release-please
        id: release
        uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.GH_TOKEN }}
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
